<header>
    <nav>
        <a href="http://localhost:3000/">Home</a>
        <a href="http://localhost:3000/members">Members</a>
        <a href="http://localhost:3000/members/create">Register member</a>
    </nav>
</header>