<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('header') %>
        <ul>

            <nav><button onclick="location.href= '/members/';">Default sorting</button><button
                    onclick="location.href= '/members/ascend/';">Alphabetical order</button><button
                    onclick="location.href= '/members/descend/';">Reversed alphabetical order</button></nav>
            <% members.forEach((member)=> { %>
                <li>
                    <a href="/member/<%= member._id %>">
                        <%= member.email%>
                    </a>

                </li>
                <% }); %>
        </ul>
        <%- include('footer') %>
</body>

</html>